<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888722916407-3n2vb25rm36tv8ug8qdj7i4v72iigoe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888722916407-3n2vb25rm36tv8ug8qdj7i4v72iigoe8</string>
	<key>API_KEY</key>
	<string>AIzaSyCCdV7VwSDpTBmF1E9ZUTeznZZWJ4DeBzI</string>
	<key>GCM_SENDER_ID</key>
	<string>888722916407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nnammad.protalyze</string>
	<key>PROJECT_ID</key>
	<string>protalyze</string>
	<key>STORAGE_BUCKET</key>
	<string>protalyze.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888722916407:ios:dfcb910ae4a49c72062bb2</string>
	<key>DATABASE_URL</key>
	<string>https://protalyze.firebaseio.com</string>
</dict>
</plist>